http://people.localhost {
	reverse_proxy localhost:3010
}

import /Users/david/Developer/Chefs_Cookbook_APP/Caddyfile
import /Users/david/Developer/SS_OPS_APP/SS_OPS_APP_REPO/Caddyfile
import /Users/david/Developer/Budget/Caddyfile
